

<div class="container">
<nav class="navbar sticky-top">
<%= link_to "Fruits", products_fruit_path, class: "navbar-brand" %>
<%= link_to "Vegetables", products_vegetable_path, class: "navbar-brand" %>
<%= link_to "Meat", products_meat_path, class: "navbar-brand" %>
<%= link_to "Dairy", products_dairy_path, class: "navbar-brand" %>
<%= link_to "Pantry", products_pantry_path, class: "navbar-brand" %>
</nav>
</div>