




<!-- Iterates through all the farmers with the condition that the informatio displayed belongs to that farmer, this page allows the farmer to have a clear view of the details they are displaying to end users and make edits to this, They cannot however delete thier page at present, to be added as future dev. -->
<% @farmers.each do |farmer| %>
<% if user_signed_in? and (current_user.admin? or current_user.id==farmer.user_id) %>


<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h1><%=farmer.name%></h1>

    </div>
    <div class="col">
      <p><%=farmer.about%></p>
    </div>
      </div>

      <%= link_to "Edit", edit_farmer_path(farmer) %>

      

<br/>
<!-- Displays all farmers images in a carosole, design not great, requires better design -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <% if farmer.photos.any? %>
              <% farmer.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= index == 0 ? 'active' : ''  %>">
                    <%= image_tag photo, alt: "website logo", class: "bd-placeholder-img card-img-top pb-5", width: "100%", height:"450" %>
                  </div>
                <%end%>
              <%end%>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" 
            data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
    <% end %>
   <% end %>
 
