<H1> Please complete your page </H1>

<%= form_with model: @farmer do |form| %>

<%= form.label :farm_name %>
<%= form.text_field :name %>

<%= form.label :about_your_farm %>
<%= form.text_field :about  %>

<%= form.label :abn %>
<%= form.text_field :abn%>

<%= form.hidden_field :user_id, value: current_user.id%>

<%= form.submit "submit" %>

<%end%>