<H1> Please complete your page </H1>

<%= form_for (@farmer) do |form| %>

<%= form.label :farm_name %>
<%= form.text_field :name %>

<%= form.label :about_your_farm %>
<%= form.text_field :about  %>

<%= form.label :abn %>
<%= form.text_field :abn%>


<div class="photos">
  <%= form.label :photo %>
  <%= form.file_field :photos, accept: "image/jpg, image/png, image/jpeg ", class: "form-control", multiple: "true" %>
</div>

<%= form.hidden_field :user_id, value: current_user.id%>

<%= form.submit "submit" %>

<% end %>