<h2>Cart show</h2>


  <% @cart.line_items.each do |line_item| %>
<div class="container-fluid mt-2 mb-2">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold"><%= line_item.product.name %></span>
                </div>
                <div class="d-flex flex-row align-items-center qty"><i class="fa fa-minus text-danger"></i>

                <% if line_item.quantity >= 1 %>

                    <%= link_to "-", line_item_reduce_path(:id => line_item), method: :post %>  
                    <%end%>
                    <h5 class="text-grey mt-1 mr-1 ml-1"><%= line_item.quantity %></h5><i class="fa fa-plus text-success"></i>
                    <%= link_to "+", line_item_add_path(:id => line_item), method: :post %>
                    
                </div>
                <div>
                    <h5 class="text-grey">Price per item: <%= number_to_currency(line_item.product.price) %></h5>
                </div>
                <div class="d-flex align-items-center"> <%= link_to "X", line_item_path(:id => line_item), method: :delete %><i class="fa fa-trash mb-1 text-danger"></i></div>
            </div>           
        </div>
    </div>
</div>

 <% end %>

  <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button"><%= link_to "Proceed to checkout", new_order_path %></button></div>

 <h3>Sub total: <%= number_to_currency(@current_cart.price) %></h3>

<br>
<%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} %>


