      <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Gold Coast</h1>
                    <h1 class="masthead-heading mb-0">Farmers Direct</h1>
                    <h3 class="masthead-subheading mb-0">Supporting our local Gold Coast Farmers</h3>
                </div>
            </div>

             <!-- Header-->
        </header>
            <br>
         <% if user_signed_in? and (current_user.admin? or current_user.farmer) %>

        <div class="container">
            <div class="row">
                <div class="col"> 
                <%=link_to(image_tag("Button-hack-1.png"), farmers_new_path) %>
                </div>
                <div class="col">
                <%=link_to(image_tag("Button-hack-1.png"), products_new_path) %>
            </div>
        </div>
<%end%>

<nav class="navbar sticky-top navbar-light bg-light">
<%= link_to "Fruits", products_fruit_path, class: "navbar-brand" %>
<%= link_to "Vegetables", products_vegetable_path, class: "navbar-brand" %>
<%= link_to "Meat", products_meat_path, class: "navbar-brand" %>
<%= link_to "Dairy", products_dairy_path, class: "navbar-brand" %>
<%= link_to "Pantry", products_pantry_path, class: "navbar-brand" %>
</nav>