      <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Farmers Direct</h1>
                    <h2 class="masthead-subheading mb-0">Supporting local</h2>
                </div>
            </div>

             <!-- Header-->
        </header>
            <br>
         <% if user_signed_in? and (current_user.admin? or current_user.farmer) %>

        <div class="container">
            <div class="row">
                <div class="col"> 
                <%=link_to(image_tag("Button-hack-1.png"), farmers_new_path) %>
                </div>
                <div class="col">
                <%=link_to(image_tag("Button-hack-1.png"), products_new_path) %>
            </div>
        </div>
<%end%>

        <!-- Section-->
<div>  
   <section class="py-5">
        <% @products.each do |product| %>
       
             <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top"  <%= image_tag product.productpic.representation(resize_to_limit: [190, 160]).processed, :crop => :fill if product.productpic.attached? %>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%=link_to product.name, product_path(product.id) %></h5>
                                    <!-- Product price-->
                                   <p>$<%=product.price %></p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="text-center"><%= button_to "Add #{product.name} to cart", line_items_path(:product_id => product.id), :class => "btn btn-outline-dark mt-auto" %>


                                    <% if user_signed_in? and (current_user.admin? or current_user.id==product.user_id) %>
                                        <p><%= link_to "Edit", edit_product_path(product) %> |
                                        <%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure?"} %></p>
                                    <% end %>
                

                                
                                    </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
         <% end %>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
