<H1> Add a new product </H1>

<%= form_for(@product) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :description %>
<%= f.text_field :description  %>

<%= f.label :price %>
<%= f.number_field :price, :step => "0.05" %>

<%= f.label :stock %>
<%= f.number_field :stock %>

<%= f.label :image %>
<%= f.file_field :productpic, accept: "image/jpg, image/png, image/jpeg " %>

<%= f.hidden_field :user_id, value: current_user.id%>



<%= f.submit "submit" %>

<%end%>