<H1> Add a new product </H1>

<%= form_with model: @product do |form| %>

<%= form.label :name %>
<%= form.text_field :name %>

<%= form.label :description %>
<%= form.text_field :description  %>

<%= form.label :price %>
<%= form.number_field :price %>

<%= form.label :stock %>
<%= form.number_field :stock %>

<%= form.hidden_field :user_id, value: current_user.id%>

<%= form.submit "submit" %>

<%end%>